@font-face {
  font-family: "MyFont";
  src: url("../fonts/NBInternationalProBoo.woff2");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "MyFont";
}
html,
body {
  height: 300vh;
  width: 100%;
}
.page1 {
  height: 100vh;
  width: 100%;
  background-color: aqua;
  position: relative;
}
.page1 video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
}
.page1text {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.411);
  position: relative;
  z-index: 2;
  color: white;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  /* background-color: red; */
  padding: 3vw 3vw;
  position: fixed;
}

nav h3 {
  font-size: 1.7vw;
  font-weight: 200;
}
nav .navtexts {
  display: flex;
  align-items: center;
  gap: 50px;
}
nav .navtexts h5 {
  font-size: 1.1vw;
  font-weight: 100;
}
.icon i {
  font-size: 1.5vw;
  /* font-weight: 300; */
  cursor: pointer;
}
.page1 h1 {
  position: absolute;
  top: 50%;
  left: 10%;
  font-size: 6vw;
  font-weight: 200;
}
.logo h3 {
  color: #fff; /* Initial color */
  display: inline-block; /* Allow movement */
  transition: color 0.3s ease; /* Smooth color transition */
  cursor: pointer; /* Change cursor to pointer */
}
